<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SIMB"
        tools:targetApi="31">
        <activity
            android:name=".analitic_gas"
            android:exported="false" />
        <activity
            android:name=".ajuste_gas"
            android:exported="false" />
        <activity
            android:name=".gas_vivo"
            android:exported="false" />
        <activity
            android:name=".gas_humo"
            android:exported="false" />
        <activity
            android:name=".Analitic"
            android:exported="false" />
        <activity
            android:name=".ajustes"
            android:exported="false" />
        <activity
            android:name=".VistaVivoActivity"
            android:exported="false" />
        <activity
            android:name=".DeteccionMovActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Notificaciones"
            android:exported="false" />
        <activity
            android:name=".EditCuenta"
            android:exported="false" />
        <activity
            android:name=".Cuenta"
            android:exported="false" />
        <activity
            android:name=".MainActivityMenu"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="false" />
        <activity
            android:name=".crearcuentaInterfaz"
            android:exported="false" />
        <activity
            android:name=".Bienvenido"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>